[Unit]
Description=Vestel IWB optictouch handler
Before=kdm.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/eta-optictouch-handler
Restart=on-abort

[Install]
WantedBy=multi-user.target
